* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.container {
  height: 100vh;
  width: 100%;
}

.vehicle.rail {
  /* background-color: #084c8d; */
  /* background-image: url('images/mode-max.png'); */
}

.vehicle.rail100 {
  background-color: #0069aa;
}

.vehicle.rail90 {
  background-color: #d11241;
}

.vehicle.rail200 {
  background-color: #008752;
}

.vehicle.rail190 {
  background-color: #ffc424;
}

.vehicle.rail290 {
  background-color: orange;
}

.vehicle.bus {
  background-color: #fcd672;
  /* background-image: url('images/mode-bus.png'); */
  /* background-image: url('images/mode-bus.png'), linear-gradient(45deg, rgb(252, 214, 114) 0%,rgb(252, 214, 114) 49%, rgb(8, 76, 141) 49%, rgb(8, 76, 141) 100%); */
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1;
  background-color: #fff;
}

.navigation ul {
  list-style: none;
}

.vehicle-infobox {
  display: none;
  position: absolute;
  top: 100%;
  left: 100%;
  background-color: white;
  padding: 1rem;
}

.vehicle-infobox div {
  white-space: nowrap;
}

.vehicle-infobox {
  font-weight: bold;
}

/* .vehicle:hover .vehicle-infobox {
  display: block;
} */

.vehicle .routeNumber {
  font-weight: bold;
}

.vehicle.rail .routeNumber {
  display: none;
}

.stats {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  background-color: #fff;
}

.stats > div {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
}

.stats > div > div {
  font-weight: bold;
  font-size: 16px;
  transition: 2s ease-in-out;
}

.info-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fff;
  z-index: 2;
}

.info-box > div {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
}

.info-box > div > div {
  font-weight: bold;
  font-size: 16px;
  transition: 2s ease-in-out;
}

.marker2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.25s ease-out;
}

.marker2:hover {
  z-index: 1;
  cursor: pointer;
}

.info-box-container {
  max-width: 300px;
  padding: 10px;
}

.info-box-container > div > span {
  font-size: 125%;
}

.info-box-container h6 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.vehicle-type-image img {
  max-width: 150px;
}

.congestion-true {
  color: red;
}

.map-wrapper {
  height: 100%;
  width: 100%;
}

.stats-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  background-color: #fff;
}
